{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block page_title %} {{ app.user.username |capitalize }}{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block logo_large %}
    <div class="row"> <img src="{{ asset('images/bidding.jpg') }}" class="logo"> </div>
{% endblock %}

{% block navbar_user %}
    <div class="navbar-custom-menu" style="margin-top: 12px; margin-right: 25px; color: white;" >
        <ul class="nav navbar-nav">
            <span class="glyphicon glyphicon-user"></span> {{ app.user.username |capitalize }} &nbsp; &nbsp;
            <a href="{{ path('app_logout') }}" style="color: white;">
                <span class="glyphicon glyphicon-log-out"></span> Log out
            </a>
        </ul>
    </div>
{% endblock %}

{% block sidebar_nav %}
    <h2 style="color: white; margin-left: 30px;"><a href="{{ path('homepage') }}">Offers</a></h2><hr>
    <h2 style="color: white; margin-left: 30px;"><a href="{{ path('listproducts') }}">Products</a></h2><hr>
    <h2 style="color: white; margin-left: 30px;"><a href="{{ path('product') }}">Add Product</a></h2><hr>
    <h2 style="color: white; margin-left: 30px;"><a href="{{ path('adding_user') }}">Create Admin</a></h2><hr>
    <h2 style="color: white; margin-left: 30px;"><a href="{{ path('listuser') }}">Admin List</a></h2><hr>
    <h2 style="color: white; margin-left: 30px;"><a href="{{ path('change') }}">Change Password</a></h2><hr>
{% endblock %}

{% block page_content %}
    <div class="row">

{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}


            {# ... box widget with some options ... #}
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' with {
                'boxtype' : 'gray',
                'solid' : 0
            } %}

                {% import '@AdminLTE/Macros/buttons.html.twig'  as btn %}
                {% block box_title %}Insert Product{% endblock %}
                {% block box_body %}
           

    <div class="card border-0">
           
            <div class="col-lg-6">
                <form id="prodformElem" action="{{ path('upload') }}">
                    <div class="card2 card border-0 px-4 py-5">
                        <div class="row px-3">
                            <label for="product_name">PRODUCT NAME</label>
                            <input type="text" name="product_name" id="product_name" class="form-control">
                        </div>
                        <div class="row px-3">
                            <label for="description">DESCRIPTION</label>
                            <input type="text" name="description" id="description" class="form-control">
                        </div>
                        <div class="row px-3">
                            <label for="deliverytime">DELIVERY TIME</label>
                            <input type="text" name="deliverytime" id="deliverytime" class="form-control">
                        </div>
                        <div class="row px-3">
                            <label for="expires_at">EXPIRES AT</label>
                            <input type="datetime-local" name="expires_at" id="expires_at" class="form-control" step="1">
                        </div>
                        <div class="row px-3">
                            <label for="starting_price">STARTING PRICE</label>
                            <input type="number" min="0" name="starting_price" id="starting_price" class="form-control">
                        </div>
                        <div class="row px-3">
                            <label for="currency">CURRENCY</label>
                            <select name="currency" id="currency" class="form-control">{% for cur in curs %} <option value="{{cur.getId()}}">{{cur.getCurrency()}}{% endfor %}</option></select>
                        </div>
                        <div class="row px-3">
                            <label for="photoName">UPLOAD PHOTO<br>
                            <input type="file" id="photoName" name="photoName" accept="image/*"  required>
                        </label>
                    </div><br>
                    <div>
                        <button type="submit" class="btn btn-info">Add product</button>
                    </div>
                    </div>
                </form>
            </div>
        
    </div>


{% endblock %}
 {% endembed %}
    </div>

 {% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{asset('assets/js/postproducts.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/js/supportsproducts.js')}}"></script>
{% endblock %}