{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block page_title %} {{ app.user.username |capitalize }}{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block logo_large %}
    <div class="row"> <img src="{{ asset('images/bidding.jpg') }}" class="logo"> </div>
{% endblock %}

{% block navbar_user %}
    <div class="navbar-custom-menu" style="margin-top: 12px; margin-right: 25px; color: white;" >
        <ul class="nav navbar-nav">
            <span class="glyphicon glyphicon-user"></span> {{ app.user.username |capitalize }} &nbsp; &nbsp;
            <a href="{{ path('app_logout') }}" style="color: white;">
                <span class="glyphicon glyphicon-log-out"></span> Log out
            </a>
        </ul>
    </div>
{% endblock %}

{% block sidebar_nav %}
    <h2 style="color: white; margin-left: 30px;"><a href="{{ path('homepage') }}">Offers</a></h2><hr>
    <h2 style="color: white; margin-left: 30px;"><a href="{{ path('listproducts') }}">Products</a></h2><hr>
    <h2 style="color: white; margin-left: 30px;"><a href="{{ path('product') }}">Add Product</a></h2><hr>
    <h2 style="color: white; margin-left: 30px;"><a href="{{ path('adding_user') }}">Create Admin</a></h2><hr>
    <h2 style="color: white; margin-left: 30px;"><a href="{{ path('listuser') }}">Admin List</a></h2><hr>
    <h2 style="color: white; margin-left: 30px;"><a href="{{ path('change') }}">Change Password</a></h2><hr>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-6" id="usrs">
            {# ... box widget with some options ... #}
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' with {
                'boxtype' : 'gray',
                'solid' : 0,
                'collapsible' : 'widget-box.collapse'|trans ~ '... ',
                'removable' : 'widget-box.remove'|trans ~ '...',
            } %}

                {% import '@AdminLTE/Macros/buttons.html.twig'  as btn %}
                {% block box_title %}List of users{% endblock %}
                {% block box_body %}
                <div class="layout-top-nav">
                 <button onclick="showAdmin()" class="btn btn-info active-admin">Admin</button>
                 <button onclick="showUser()" class="btn btn-info active-user">User</button>
                <div class="callout callout-default" id="admin" style="display: block;">
                    <div class="callout callout-default">
                        {% for usr in usrs %}
                        {% if usr.roles == ['ROLE_ADMIN'] %}
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-secondary">
                                        <strong>{{ usr.username }}</strong>
                                        <p>{{ usr.email }} </p>
                                        <div>
                                            <a href="#" class="btn btn-danger delete-user" data-id="{{ usr.getId() }}">Remove</a>
                                        </div>
                                    </li>
                                </ul>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="callout callout-default" id="user" style="display: none;">
                    <div class="callout callout-default">
                        {% for usr in usrs %}
                        {% if usr.roles == ['ROLE_USER'] %}
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-secondary">
                                        <strong>{{ usr.username }}</strong>
                                        <p>{{ usr.email }} </p>
                                </ul>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
               </div> 
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{asset('assets/js/mainuser.js')}}"></script>
{% endblock %}